{% extends 'base.html.twig' %}

{% block body %}

    <h3 class="titleUnderline">{{ body }}</h3>
    {% if connected == false %}

        <a href="/donnez-votre-avis"><div class="btn btn-info" id="addAvis">Ajouter un avis</div></a>

    {% endif %}


    {% for golden in goldenList %}

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ce que {{ golden.author.firstname }} {{ golden.author.lastname }} pense de moi :</h5>
            </div>
            <div class="modal-body">
                <p>{{ golden.content|raw }}</p>
            </div>
            <div class="modal-footer">
                <p>Publié le : {{ golden.publishedDate|date("d/m/Y") }}</p>
            </div>
        </div>

    {% endfor %}

{% endblock %}